{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
{%
 for msg in app.flashes('error')
%}
<div class="alert alert_danger">{{msg}}</div>
{% endfor %}
<form  method="POST">
<div class="container mt-5">
<div class="input-group mb-3">
  <input type="text" name="_username" class="form-control" placeholder="Nom" aria-label="Recipient's first name" aria-describedby="basic-addon2">
</div>

<div class="input-group mb-3">
  <input type="password" name="_password" class="form-control" placeholder="Password"  aria-label="Recipient's Password" aria-describedby="basic-addon2" required>
</div>

<button type="submit" class="btn btn-outline-danger">Valider</button>
</div>
</form>
{% endblock %}
